<div class="container1">
	<div class="flex-grid">
		<aside class="col sidebar">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" [routerLink]="" routerLinkActive="router-link-active"
						(click)="chooseComponent('login')">
						Log in
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="" routerLinkActive="router-link-active"
						(click)="chooseComponent('socialsignin')">
						Social Sign In
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" [routerLink]="" routerLinkActive="router-link-active"
						(click)="chooseComponent('')">
						Something Else
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" [routerLink]="" routerLinkActive="router-link-active"
						(click)="chooseComponent('')">
						Something Else
					</a>
				</li>
			</ul>
		</aside>
		<div class="col main">
			<h1 *ngIf=!login>Choose a custom Web Component</h1>
			<div *ngIf=login>
				<div class="container2">
					<div class="flex-item">
						<custom-login></custom-login>
					</div>
					<div class="flex-item">
						<custom-login></custom-login>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
