<div class="container">
	<div *ngFor="let widget of userWidgets" class="child">
		<span *ngIf="userWidgets">
			<div ngbDropdown placement="top-left" class="d-inline-block">
				<element-el [colour]="widget.Color" id="dropdown" ngbDropdownToggle>
				</element-el>
				<div ngbDropdownMenu aria-labelledby="dropdown">
					<div class="col">
						<div class="row">
							<input name="script" id="script" value="&#x3c;script>https://localhost:3000/api/widgets/{{widget.Id}}.js&#x3c;/script"
								readonly><button
								class="btn btn-light" (click)="copy('script')">Copy</button>
						</div>
						<div class="row">
							<input name="" id="tag" value="&#x3c;element-el>&#x3c;/element-el>"
								readonly><button class="btn btn-light"
								(click)="copy('tag')">Copy</button>
						</div>
					</div>
				</div>
			</div>
		</span>
	</div>
	<button type="button" class="btn btn-primary child add rounded-circle" (click)="openVerticallyCentered(content)">New
		Widget</button>
	<ng-template #content let-modal>
		<div class="modal-header">
			<h4 class="modal-title">Choose a new Widget</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<ul>
				<li *ngFor="widget of allWidgets">{{widget.name}}</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
		</div>
	</ng-template>

</div>
