h1 {
	margin-top: 4rem;
}
.container1 {
	height: 100%;
	background: #eff5f9;
	font-family: sans-serif;
	line-height: 1.5;
}
.flex-grid {
	display: flex;
}
.flex-column {
	  margin: 1rem;
}
.container2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.flex-item {
	margin: 1rem;
}
.sidebar {
	flex: 1;
}

.main {
	flex: 3;
	padding: 0;
}
.clickable {
	border: 1px solid #ffffff
}
