body{
	height: 100;
}
.container
{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start; /* or space-evenly */
	align-items: center;
	/* align-content: */

}
.row
{
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.col
{
	display: flex;
	flex-flow: column wrap;
	flex-basis:100%;
	flex: 1;
}
.padding{
	padding-left:95px;
	padding-top:50px;
}

.add
{
	width: 100px;
    height: 100px;
	background: green;
	margin: 15px;
}



.dropdown-toggle::after {
    display:none;
}


ngb-toast
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	margin: 15px;
	background-color: red;
}
#script, #tag {
	width: 100%;
}
